{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Your Cart :</h1>

    <ul class="header-cart-wrapitem">

        {% for cartProduct in cart.cartProducts %}
            {% set product = cartProduct.product %}
            <li class="header-cart-item">
                <div class="header-cart-item-img">
                    <img src="{{ product.pictureUrl }}" alt="IMG">
                </div>

                <div class="header-cart-item-txt">
                    <a href="#" class="header-cart-item-name">
                        {{ product.name }}
                    </a>

                    <span class="header-cart-item-info">
                    {{ cartProduct.quantity  }} x {{ price_format(product.price) }}
                </span>
                </div>
            </li>
        {% endfor %}

    </ul>
    <BR><BR><BR>
    <div class="header-cart-wrapbtn">
        <!-- Button -->
        <a href="{{ path('checkout_payment') }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
            Check Out
        </a>
    </div>


</div>
{% endblock %}
